{% extends 'base.html' %}
{% load pgc_filter %}
{% block content %}


<div class="container my-3">
    <form action="{% url 'rank:read_data' %}", method="POST">
    {% csrf_token %}
    아이디 : <input type="text" name="title"><br>
    플랫폼 : <select name="select">
                <option value="steam">스팀</option>
                <option value="kakao">카카오</option>
            </select>
    <input type="submit" value="검색">

    </form>

    <table class="table">
        <thead>
        <tr class="text-center table-dark">
            <th>번호</th>
            <th>아이디</th>
            <th>순위</th>
            <th>맵</th>
            <th>킬</th>
            <th>가한데미지</th>
            <th>DBNO</th>
            <th>이동 거리</th>
            <th>순위예측</th>
        </tr>
        </thead>
        <tbody>
        {% if PersonalData %}
        {% for match in PersonalData %}
        <tr class="text-center">
            <td>
                <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
                {{ PersonalData.paginator.count|sub:PersonalData.start_index|sub:forloop.counter0|add:1 }}
            </td>
            <td>{{ match.user_id }}</td>
            <td>{{ match.win_place }} / {{ match.team_count }}</td>
            <td>{{ match.map_name }}</td>
            <td>{{ match.kills }}</td>
            <td>{{ match.damage_dealt }}</td>
            <td>{{ match.dbnos }}</td>
            <td>{{ match.total_distance }} km</td>
            <td>
                <script>
                $('#submit').on('click', function(e) {
                data = $('#text').val();
                $.ajax({
                    type:'POST',
                    url:'http://127.0.0.1:8000/rank',
                    data:JSON.stringify(data),
                    success:function(json){
                        console.log("data pass success",json);
                    },
                    error : function(xhr,errmsg,err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                    }
               });
              });
                </script>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6" class="text-center">매치 정보를 불러오지 못했습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if PgcList.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ PgcList.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in PersonalData.paginator.page_range %}
        {% if page_number >= PersonalData.number|add:-5 and page_number <= PersonalData.number|add:5 %}
        {% if page_number == PersonalData.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if PgcList.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ PersonalData.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

</div>


{% endblock %}




